.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 3.125rem 3.125rem;
  margin-bottom: 4rem;

  @media(max-width:425.98px) {
    flex-wrap: wrap;
  }
}