.list__wrapper {
  display: flex;
  align-items: flex-start;

  padding: 1rem;

  background: #262626;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;

  align-self: stretch;
  margin-bottom: 1rem;
}
.delete__wrap {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete {
  width: 14px;
  height: 15px;
}
.cirle__list {
  width: 17.45px;
  height: 17.45px;
  background: transparent;
  border: 2px solid #4ea8de;
  margin-right: 1rem;
  margin-top: 3px;
  border-radius: 2rem;
  transition: all .5s ease;
}
.circle__active{
    background-color: #5E60CE;
    border-color: #5E60CE;
    
}
.list__item {
  flex: 1 1 632px;
  max-width: 632px;
    padding-right:0.5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;

  color: #f2f2f2;
  display: flex;
  align-self: center;
  transition: all .5s ease;
}
.list__active{
    text-decoration: line-through;
    color: #808080;
}